.header {
    background-color: #000000;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    gap: 16px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }


  

.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
  }